
body {
  min-width: 100%;
  min-height: 100% !important;
}

.multiline-header {
  white-space: normal;
  line-height: normal;
}

.ag-theme-alpine {
  margin-top: 30px;
  --ag-header-height: 100px;
  
}

.container {
  padding: 20px;
  max-width: 600px;
  min-height: 1500px;
  margin: 0 auto;
}

.Datums {
  width: 20%;
  margin: 10px;
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
}

.red-background {
  background-color: red;
}

.btn {
  width: 250px;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #c4d2e7 !important;
  color: #000000 !important;
}


.mekletvalsti {
  margin-top: 10px;
}

.mekletvalsti label {
  display: block;
  margin-bottom: 5px;
}


.react-tabs__tab--selected {
  background-color: #c4d2e7 !important;
  color: white;
}



.mekletvalsti input[type="text"],
.mekletvalsti select {
  width: 30%;
  padding: 8px;
  margin-bottom: 10px;
  margin-right: 10px;
  box-sizing: border-box;
}

label {
  width: 200px;
}

@media only screen and (max-width: 800px) {
  .Datums,

  .mekletvalsti input[type="text"],
  .mekletvalsti select,
  label {
    width: 100%;
  }
  .Datums {
    width: 85%;
    margin-right: 10px;
  }
  .btn {
    margin-top: 10px;
  }
}



body.dark-theme {
  background-color: #000000f5;
  color: #ffffff;
}


.container.dark-theme {
  background-color: #19181b !important;
  color: #ffffff;
}


body.light-theme {
  background-color: #cbc9ddc4 !important;
  color: #ffffff;
}


.container.light-theme {
  background-color: #ffffff81 !important;
  color: #000000;
}

