
body {
  min-width: 100%;
  min-height: 100% !important;
}




.multiline-header {
  white-space: normal;
  line-height: normal;
}

.ag-theme-alpine {
  margin-top: 30px;
  --ag-header-height: 100px;
  
}

.themeselect {
  justify-content: flex-end;
  display: flex;
}

.react-tabs__tab-list {
  padding-top: 15px !important;
}

.container {
  padding-top: 50px;
  padding: 20px;
  max-width: 600px;
  min-height: 1500px;
  margin: 0 auto;
}

.Datums {
  width: 20%;
  margin: 10px;
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
}


.btn {
  width: 250px;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #377fec !important;
  color: #ffffff !important;
  border-radius: 50px !important;
}


.mekletvalsti {
  margin-top: 10px;
}

.mekletvalsti label {
  display: block;
  margin-bottom: 5px;
}


.react-tabs__tab--selected {
  background-color: #c4d2e7 !important;
  color: white;
}



.mekletvalsti input[type="text"],
.mekletvalsti select {
  width: 30%;
  height: 50px;
  padding: 8px;
  margin-bottom: 10px;
  margin-right: 10px;
  box-sizing: border-box;
}

label {
  width: 200px;
}

@media only screen and (max-width: 800px) {
  .Datums,

  .mekletvalsti input[type="text"],
  .mekletvalsti select,
  label {
    width: 100%;
  }
  .Datums {
    width: 85%;
    margin-right: 10px;
  }
  .btn {
    margin-top: 10px;
  }
}



body.dark-theme {
  background-color: #000000f5;
  color: #ffffff;
}



.container.dark-theme {
  background-color: #19181b !important;
  color: #ffffff;
}




body.light-theme {
  background-color: #cbc9ddc4 !important;
  color: #ffffff;
}


.container.light-theme {
  background-color: #ffffff81 !important;
  color: #000000;
}




.mekletvalsti.dark-theme input[type="text"],
.mekletvalsti.dark-theme select {
  background-color: #111012;
  color: #c4d2e7;
  border: 1px solid;
  border-color: #000000;
}


.red-background.dark-theme {
  background-color: rgb(100, 5, 5) !important;
}



.red-background.light-theme {
  background-color: rgb(170, 16, 16) !important;
}

.Datums.dark-theme {
  background-color: #111012;
  color: #c4d2e7;
  border: 1px solid;
  border-color: #000000;
}


.btn.dark-theme {
  background-color: #28272B!important;
  color: #c4d2e7 !important;
  border: 1px solid;
  border-color: #0C0B0D;
}

.themeselect.dark-theme select {
  background-color: #111012;
  color: #c4d2e7;
  border: 1px solid;
  border-color: #000000;
  border-radius: 5px ;
}